<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('includes/navigation.ejs') %>

    <main class="login-form">
        
        <p>Appointment confirmation has been sent to your email!!! </p>
    </main>
    
<%- include('includes/end.ejs') %>