<footer class="main-footer">
    <nav class="main-footer__nav">
        <ul class="main-footer__list">
            <li class="main-footer__item"><a  href="/aboutus">About Us</a></li>
            <li class="main-footer__item"><a href="/copyrights">Copyrights</a></li>
            <li class="main-footer__item"><a href="/help">Help</a></li>
        </ul>
    </nav>
</footer>
</body>

</html>